* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  overflow-y: auto;
  overflow-x: hidden;
}

section#hero {
  min-height: 60vh;
  color: white;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.384)), url('./images/conferences/state/state1.jpg') no-repeat center center / cover;
}

.calendar {
  text-align: center; /* Center align text inside the section */
}

.h1-text {
  font-size: 3rem;
  font-family: Poppins;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.short-desc {
  max-width: 40rem;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
}

.calendar h4.link {
  font-size: 1rem;
  margin: 2rem 0; 
}

.calendar iframe {
  display: block;
  margin: 0 auto;
  width: 90vw; /* Set width to 90% of the viewport width */
  height: 60vh; /* Set height to 60% of the viewport height */
  padding: 1rem 0;
  border: 0;
  z-index: 1;
}

/* Adjust layout for smaller screens */
@media (max-width: 1105px) {
  section#hero {
      flex-direction: column; 
      justify-content: center; 
      padding: 2rem; 
  }

  .h1-text, .short-desc {
      position: relative;
      left: 0;
      top: 0;
      text-align: center;
      padding: 1rem 0; /* Add padding for spacing */
      margin: 0 auto;
      transform: none; /* Reset transformation */
  }

  .calendar iframe {
    width: 50rem;
    height: 35rem;
  }
}

/* Hide short description for very small screens */
@media (max-width: 768px) and (max-height: 768px) {
  .short-desc {
      display: none; /* Hide short description */
  }

  .h1-text {
      padding-top: 7rem; /* Add padding to prevent overlap */
  }
}

@media (max-width: 768px) {
  .calendar iframe {
    width: 85vw;
    height: 50vh;
  }

  .h1-text{
    font-size:2rem;
  }

  .short-desc{
    font-size: 1.25rem;
  }
}

/* More adjustments for specific widths */
@media (max-width: 600px) {
  .calendar iframe {
    width: 30rem;
    height: 20rem;
  }
}

@media (max-width: 480px) {
  .calendar iframe {
    width: 25rem;
    height: 15rem;
  }
}

/* Scrollbar CSS */
/* Scrollbar CSS */
