*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    overflow-y: auto;
    overflow-x: hidden;
}


#main {
    height: 100vh;
    overflow: hidden;
}
.contact-container {
    height: 100vh;
    padding-top: 2rem;
    padding-left: 3rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    background: url(./images/conferences/flc/flc3.jpg);
}

div#header{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #ffffff;
    font-size: 3.5rem;
    margin-bottom: 5px;
    padding-top: 2rem;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #d88e37;
    border-radius: 10px;
    margin-bottom: 20px;

}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #667;
    border-radius: 10px;

}

.contact-left textarea {
    height: 140px;
    max-width: 400px;
    padding-top: 15px;
    border-radius: 10px;
}

.contact-inputs:focus{
    border: 3px solid #d88e37;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
    font-family: 'Poppins';
}

.contact-left button{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
    border: none;
    padding: 2px;
    border-radius: 100%;
    background: linear-gradient(90deg, #EE7B19, #525253);
    cursor: pointer;
}

.contact-left button img{
    height: 3.5rem;
}

.contact-right img {
    width: 20rem;
    height: 25rem;
    margin-top: 5rem;
}

@media (max-width: 1000px) {
    .contact-inputs{
        width: 400px;
    }

    .contact-right{
        display: none;
    }
}

@media(max-width: 768px){
    .contact-left-title h2 {
        font-size: 1.8rem;
    }
}

@media(max-height: 768px){
    .contact-inputs{
        width: 400px;
        height: 40px;
    }

    .contact-left-title h2 {
        font-size: 1.3rem;
    }

    #main {
        height: 100vh;
    }
    
    .contact-left textarea{
        max-height: 140px;
        max-width: 400px;
    }
    
    .contact-container{
        margin-top: 4rem;
    }
    
    div#header{
        position: absolute;
        width: 100%;
        z-index: 2;
    }
    
    .contact-right{
        width: 200px;
        height: 200px;
    }
    .contact-right img {
        width: 16rem;
        height: 20rem;
    }
}

@media (max-width: 480px){
    .contact-inputs, .contact-left textarea{
        width: 300px;  
    }
    .contact-left-title h2{
        max-width: 300px; 
        padding-top: 1rem;
    }
    .contact-container{
        padding-left: 1.5rem;
        padding-top: 1rem;
    }
}







/* SCROLLBAR CSS */
/* SCROLLBAR CSS */
