* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body, html {
  overflow-y: auto;
  background: white;
  background-color: white;
  overflow-x: hidden;
}

section#hero {
  min-height: 60vh;
  color: white;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.384)), url('./images/officers/24-25officers4.JPG') no-repeat center center / cover;
}

.h1-text {
  font-size: 5rem;
  font-family: Poppins;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.short-desc {
  max-width: 40rem;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

.col {
  width: 300px;
  display: flex;
  justify-content: center;
}

.pics {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.card-body{
  height: 300px;
}

.card-text {
  font-size: 1rem;
}

@media (max-width: 700px){
  .h1-text, .short-desc {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
    transform: none; /* Reset transformation */
    padding-top: 0; /* Remove unnecessary padding */
    width: 100%; /* Make full-width on smaller screens */
  }
  
  .h1-text {
    font-size: 3rem; /* Reduce font size on smaller screens */
  }
  
  .short-desc {
    font-size: 1.5rem; /* Reduce font size on smaller screens */
  }
}

@media (max-width: 400px){
  .h1-text {
    font-size: 2rem; /* Reduce font size even further on very small screens */
  }
  
  .short-desc {
    font-size: 1rem; /* Reduce font size even further on very small screens */
  }
}

/* SCROLLBAR CSS */
/* SCROLLBAR CSS */
